.news__box{
    padding-top: 10px;
    padding-bottom: 135px;
}
.news__title{
    margin: 0 auto 80px auto;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    color: #333333;
}
.news__list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.news__item{
    width: 305px;
    list-style: none;
    border: 1px solid #E4E4E2;
    background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
}
.news__item-inside{
    padding: 20px 25px 35px 30px;
}
.news__time {
    display: block;
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    color: #949494;
}
.news__heading{
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    color: #333333;
    margin-top: 0px;
    margin-bottom: 15px;
}
.news__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    margin-top: 0px;
    margin-bottom: 28px;
}
.news__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    padding-left: 30px;
    position: relative;
    z-index: 1;
    transition: all .5s;
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        background-image: url(../images/pett.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: -1px;
        width: 25px;
        height: 25px;
        left: -3px;
    }
    &:hover{
        color: #FFBD54;
    }
    &:active {
        color: #333333;
        opacity: 0.8;
    }
}
.news__item:nth-child(2){
    width: 640px;
    display: flex;
    border: 1px solid #F3F3F3;
    margin: 0 35px 0 35px;
}
.news__box{
    padding: 35px 34px 40px 30px;
}
.news__span{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.news__span-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    color: #3D9CEA;
    text-decoration: none;
}
.news__span-link+.news__span-link {
    margin-left: 8px;
}
.news__span-link:nth-child(3){
    margin-right: auto;
}